<ion-content>
  <ion-content>
    <ion-card
      style="
        background: #131629;
        box-shadow: 0.2px 0px 1px 2px #8b90ad, 0 1px 0px 0 #8b90ad;
      "
      *ngFor="let item of [1, 2, 3, 4, 5]; let index"
    >
      <ion-card-content >
        <ion-card-subtitle style="color: #fff; font-size: 18px"
          >Chord_SRP_Test7-1H2</ion-card-subtitle
        >
        <!-- <ion-label style="color: #fff; font-size: 18px !important"
            >Chord_SRP_Test7-1H2</ion-label
          > 
          [routerLink]="['/telemetry/telemetry-details']" -->
        <ion-label style="color: #fff; font-size: 18px">Naveen_801</ion-label>
        <ion-row style="margin-top: 2%">
          <ion-icon name="logo-ionic" color="primary"></ion-icon>
          <ion-label style="color: #fff; font-size: 12px"
            >Operational</ion-label
          >
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
