<!-- <ion-content [fullscreen]="true"> -->
  <ion-content>
    <ion-card
      style="
        background: #171a2e;
        box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
      "
      *ngFor="let item of [1, 2, 3, 4, 5]; let index"
    >
      <ion-card-content>
        <ion-label
          text-wrap
          style="color: #fff; text-overflow: ellipsis; max-lines: 1"
          >AVG SPM 2.2spm
        </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card
      style="
        background: #171a2e;
        box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
      "
    >
      <ion-card-content>
        <ion-item color="#171a2e" scrollable="true">
          <ion-toggle></ion-toggle><br /><br />
          <ion-label style="color: #fff">SLB</ion-label>
          <ion-icon style="color: #fff" name="refresh-outline"></ion-icon>
          <ion-icon
            style="color: #fff"
            name="refresh-circle-outline"
          ></ion-icon>
          <ion-icon
            style="color: #fff"
            name="arrow-down-circle-outline"
          ></ion-icon>
          <ion-icon style="color: #fff" name="checkmark-outline"></ion-icon>
          <ion-icon
            name="options-outline"
            style="font-size: 25px; color: #fff"
          ></ion-icon>
        </ion-item>
        <ion-item color="#171a2e" scrollable="true">
          <ion-chip>
            <ion-avatar>
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label style="color: #fff">SPM Measured</ion-label>
          </ion-chip>

          <ion-chip>
            <ion-avatar>
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label style="color: #fff"
              >Fluid_pound_mitigation_state</ion-label
            >
          </ion-chip>
        </ion-item>

        <ion-item color="#171a2e" scrollable="true">
          <ion-chip>
            <ion-avatar>
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label style="color: #fff">YesterdayPercentRun</ion-label>
          </ion-chip>

          <ion-chip>
            <ion-avatar>
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label style="color: #fff">Surface Card Pump Fill</ion-label>
          </ion-chip>
        </ion-item>

        <ion-card
          style="
            background: #171a2e;
            box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
          "
        >
          <ion-card-content>
            <ion-label>Graph will be displayed here</ion-label>
            <ion-img
  src="https://docs-demo.ionic.io/assets/madison.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-content>
<!-- </ion-content> -->
