<ion-content [fullscreen]="true">
  <ion-content>
    <!-- <select style ="background-color: #0c0c6d; border-color: #0c0c6d;"name="cars" id="cars">
      <option style ="background-color: #535353;"value="volvo">Delfi</option>
      <option style ="background-color: #535353;" value="saab">App1</option>
      <option style ="background-color: #535353;"value="opel">App2</option>
      <option style ="background-color: #535353;" value="audi">App3</option>
    </select> -->
    <ion-card
      style="
        background: #171a2e;
        box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
      "
      *ngFor="let item of [1, 2, 3, 4, 5]; let index"
    >
      <ion-card-content>
        <ion-label
          text-wrap
          style="color: #fff; text-overflow: ellipsis; max-lines: 1"
          >AVG SPM 2.2spm
        </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card
      style="
        background: #171a2e;
        box-shadow: 0.2px 0px 1px 2px #989aa2, 0 1px 0px 0 #989aa2;
        margin-bottom: 25%;
      "
    >
      <ion-card-content style = "height: 500px;">
        <ion-card-content >
          
          <ion-label style = "color: #fff;align-self: flex-start;">Image will be displayed here</ion-label>
          <ion-img
            src="https://docs-demo.ionic.io/assets/madison.jpg"
            alt="Image will be displayed here"
          ></ion-img>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
